@import url('index.css');

#nav-list,
#sidebar {
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    padding-top: .5em;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    width: 19%;
}

#nav-list {
    height: 90%;
    width: 100%;
    position: relative;
}

.nav-item {
    padding: 0em;
}

.navlink {
    display: flex;
    gap: .7em;
    justify-content: left;
    padding: .6em;
    align-items: center;
}

.navlink > svg{
    width: 20%;
}

#logo {
    font-size: 3rem;
    padding: 0 .5em;
}

#more-icon svg{
    border: 2px solid;
    width: 15%;
    border-radius: 50%;
    padding: .3em 0;
    margin-right: .4em;
    display: inline-block;
}

#cta {
    width: 100%;
    padding: .5em;
}

#cta > a {
    display: inline-block;
    width: 80%;
    background-color: var(--primary-color);
    padding: .6em;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
}

#account {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1em;
    border-radius: 4rem;
}

#profile {
    display: flex;
    gap: 1em;
}

#img-wrapper-account {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}

#account img {
    max-width: 100%;
}