@import url('index.css');

#nav-list,
#sidebar {
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    padding: .5em 0;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    width: 19%;
}

#nav-list {
    width: 100%;
    position: relative;
}

.nav-item {
    padding: 0em;
}

.navlink {
    display: flex;
    gap: .7em;
    justify-content: left;
    padding: .6em;
    align-items: center;
}

.navlink > svg{
    width: 20%;
}

#logo {
    font-size: 3rem;
    padding: 0 .5em;
}

#more-icon svg{
    border: 2px solid;
    width: 15%;
    border-radius: 50%;
    padding: .3em 0;
    margin-right: .4em;
    display: inline-block;
}

#cta {
    width: 90%;
    margin-top: 0;
}

#cta > a {
    display: inline-block;
    width: 85%;
    background-color: var(--primary-color);
    padding: .7em;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

#account {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1em;
    border-radius: 4rem;
}

#profile {
    display: flex;
    gap: 1em;
}

#img-wrapper-account {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}

#account img {
    max-width: 100%;
}

#name-username .name {
    font-weight: lighter;
    color: #878787;
}

/* Feed Menu */

#feed-menu {
    border-bottom: 1px solid #878787;
    position: sticky;
    top: 0;
    background-color: inherit;
    backdrop-filter: blur(20px);
}

#feed-menu > nav {
    display: flex;
}

#feed-menu > nav > a{
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 1em;
    color: #878787;
    font-size: smaller;
}

#feed-menu > a > h2 {
    padding: 1em;
    font-size: 1.7rem;
}

.feed-menu-active {
    color: #fff !important;
    font-weight: bold;
    position: relative;
}

.feed-menu-active::after {
    content: '';
    display: block;
    background-color: var(--primary-color);
    padding: 2px;
    width: 100%;
    bottom: -1em;
    right: 0;
    position: absolute;
    border-radius: 5em;
    margin-right: -.1em;
}

.img-wrapper-account {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
}

.post img {
    max-width: 100%;
}