#nav-list,
#sidebar {
    display: flex;
    flex-flow: column;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    width: 19%;
}

#nav-list {
    height: 90%;
    width: 100%;
    position: relative;
}

.nav-item {
    padding: .5em;
}