@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1d9bf0;
    --active-primary-color: #188cd9;
    --background-color: #000000;
    --secondary-bg-color: #16181c;
    --nav-links-hover-background-color: #20232799;
}

/* html {
    font-size: 62.5%;
} */

* {
    font-family: "Arial", "Roboto", system-ui, sans-serif;
    box-sizing: content-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: #e7e9ea;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding: 0%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    color: inherit;
}

#wrapper > * {
    border: 1px solid;
}

#wrapper {
    display: grid;
    grid-template-areas: "navigation feed feed search"
                          "navigation feed feed subscribe"
                          "navigation feed feed trends"
                          "navigation feed feed follow-recommendations";
    min-height: 100dvh;
    border: 1px solid;
}

header {
    grid-area: navigation;
    height: 100%;
}

main {
    grid-area: feed;
}

@media screen and (min-width: 80rem) {
    /* Test works */
}