:root {
    --primary-color: #1d9bf0;
    --background-color: #000000;
    --secondary-bg-color: #16181c;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/Roboto-Regular.ttf);
}

html {
    font-size: 62.5%;
}

* {
    font-family: "Arial", "Roboto", system-ui, sans-serif;
    box-sizing: content-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: #e7e9ea;
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    padding: 0%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    color: inherit;
}

.container {
    width: 95%;
    margin: auto;
}

#wrapper {
    display: grid;
    grid-template-columns: 20% 2fr 1.4fr;
    grid-auto-columns: auto;
}

#messaging {
    position: fixed;
    bottom: 0;
    right: 2em;
    border: 1px solid;
    width: 27%;
    border-radius: 4rem;
}

#sidebar {
    position: fixed;
}