:root {
    --primary-color: #1d9bf0;
    --active-primary-color: #188cd9;
    --background-color: #000000;
    --secondary-bg-color: #16181c;
    --nav-links-hover-background-color: #20232799;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/Roboto-Regular.ttf);
}

html {
    font-size: 62.5%;
}

* {
    font-family: "Arial", "Roboto", system-ui, sans-serif;
    box-sizing: content-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: #e7e9ea;
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    padding: 0%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    color: inherit;
}