@media screen and (max-width: 80rem) {
  .link-name {
    display: none;
  }
}

.nav-item {
  width: 100%;
  display: inline-block;
  border: 1px solid red;
}

.nav-link {
  width: 100%;
  display: inline-block;
  border: 1px solid;
}
