@media screen and (max-width: 80rem) {
  .link-name {
    display: none;
  }
}

.nav-item {
  width: 100%;
  display: inline-block;
  border: 1px solid red;
}

.nav-link {
  display: flex;
  border: 1px solid;
  flex-flow: row nowrap;
  justify-content: left;
  gap: 1em;

  padding: 0.5em;
}
