@media screen and (max-width: 80rem) {
  .link-name {
    display: none;
  }
}

.nav-item {
  width: 100%;
  display: inline-block;
  border: 1px solid red;
}

.nav-link {
  width: 100%;
  display: inline-block;
}

.nav-link > .link-inner {
  display: flex;
  width: fit-content;
  flex-flow: row nowrap;
  justify-content: left;
  gap: 1em;
  padding: 0.3em 0.7em;
  border-radius: 4rem;
}
